.form-control, form button{
    margin: 0px .25%;
}

.form-control.col-7 {
    width: 57.8333333333%;
}

.form-control.col-2 {
    width: 16.1666666667%;
}

form .col-1 {
    width: 7.83333333333%;
}

.checkbutton {
    overflow: hidden;
    width: 15px;
    height: 15px;
    border: 2px solid transparent;
    vertical-align: middle;
}

button.checkbutton {
    border-color: grey;
    border-radius: var(--bs-border-radius);
    box-shadow: inset -2px 2px 6px #0004;
    color: transparent;
}

p.checkbutton {
    padding: 0px;
    line-height: 15px;
    font-weight: bold;
    margin:0px;
    color: inherit;
    display: inline;
}

.small-col {
    width: 40px;
    text-align: center;
}

.deletebutton {
    line-height: 25px;
    text-align: center;
    width: 25px;
    height: 25px;
    border-radius: var(--bs-border-radius);
    padding:0px;
    font-weight: bold;
    color: white;
    background-color: red;
    border: none;
    font-family: 'bootstrap-icons';
}

main {
    max-width: 800px;
    margin: 2em auto;
    border-radius: 20px;
    background-color: #fff;
    padding: 1em;
    box-shadow: -5px 5px 10px #0006;
}

form {
    width: 100%;
    margin-left: .25%;
}

.priority-high {
    background-color: #fed;
    color: #a60;
}

.priority-low {
    background-color: #ddf;
    color: #00f;
}

.complete {
    color: #0008;
    position: relative;
    background-color: transparent;
}

.complete::after {
    content: "";
    position: absolute;
    left: 40px;
    right: 40px;
    top: 50%;
    border-bottom: 1px solid #999;
}