/* You can add global styles to this file, and also import other style files */
body {
    background-image: linear-gradient(-45deg, orange, magenta);
    background-size: cover;
    min-height: 100vh;
}